.btn {
  display: inline-block;
  background-color: antiquewhite;
  padding: var(--space-md) var(--space-lg);
  font-size: 1rem;
  font-family: var(--font-base);
  border-radius: var(--radius-md);
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.btn-primary {
  background-color: var(--color-primary);
  color: #fff;
}
.btn-primary:hover {
  background-color: #0b5ed7;
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
.btn-secondary:hover {
  background-color: #5c636a;
}

.btn-danger {
  background-color: var(--color-danger);
  color: #fff;
}
.btn-danger:hover {
  background-color: #bb2d3b;
}
